
    <div class="loginbox">
    <img src="images/benny.jpg" class="avatar">
        <h1>Dr.Benny</h1>
        <form action="/login" method="post" id="login-form" name="login-form">
            <p>Username</p>
            <input type="text" id="userid" name="userid" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" id="pswrd" name="pswrd" placeholder="Enter Password" required>
            <div class="Login_button">
              <input type="submit" name="" value="Login">
            </div>
            <p id="login-error">{{login-error}}</p>
            <button type="button" id="create-changepwd-button"><a href="#">Lost your password?</a><br></button>
            <div id="modal-backdrop" class="hidden"></div>
            <div id="create-changepwd-modal" class="hidden">
              <div class="modal-dialog">

                <div class="modal-header">
                  <h3>Change password</h3>
                </div>

                <div class="modal-body">
                  <p>Username</p>
                  <div class="changepwd-username-input-element">
                    <input type="text" id="changepwd-username-attribution-input" placeholder="Enter your username">
                  </div>
                  <p>New password</p>
                  <div class="changepwd-input-element">
                    <input type="password" id="changepwd-attribution-input" placeholder="Enter your new password">
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="modal-changepwd-button">Change password</button>
                  <button type="button" class="modal-cancel-button">Cancel</button>
                </div>

              </div>
            </div>
            <button type="button" id="create-account-button"><a href="#">Don't have an account?</a><br></button>
            <div id="modal-backdrop-2" class="hidden"></div>
            <div id="create-account-modal" class="hidden">
              <div class="modal-dialog">

                <div class="modal-header">
                  <h3>Sign Up for Free</h3>
                </div>

                <div class="modal-body-2">
                  <p>Username</p>
                  <div class="account-username-input-element">
                    <input type="text" id="account-username-attribution-input" placeholder="Enter your username">
                  </div>
                  <p>Password</p>
                  <div class="account-password-input-element">
                    <input type="password" id="account-password-attribution-input" placeholder="Enter at least 5 chracters password">
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="modal-account-button">Create an account</button>
                  <button type="button" class="modal-cancel-button-2">Cancel</button>
                </div>

              </div>
            </div>
        </form>

    </div>

<script>//change password modal open part (remove hidden)
var modal = document.querySelector(".modal");
var modal_button = document.querySelector("#create-changepwd-button");

function remove_hidden(){
  document.getElementById("create-changepwd-modal").classList.remove('hidden');
  document.getElementById("modal-backdrop").classList.remove('hidden');
}

modal_button.addEventListener('click', remove_hidden);

//change password modal close part (rollback hidden option)
var cancel_button = document.querySelector(".modal-cancel-button");

function rollback(){
  document.getElementById("changepwd-username-attribution-input").value = "";
  document.getElementById("changepwd-attribution-input").value = "";
  document.getElementById("create-changepwd-modal").classList.add('hidden');
  document.getElementById("modal-backdrop").classList.add('hidden');
}

cancel_button.addEventListener('click', rollback);

//create account modal open part (remove hidden)
var modal_2 = document.querySelector(".modal");
var modal_button_2 = document.querySelector("#create-account-button");

function remove_hidden_2(){
  document.getElementById("create-account-modal").classList.remove('hidden');
  document.getElementById("modal-backdrop-2").classList.remove('hidden');
}

modal_button_2.addEventListener('click', remove_hidden_2);

//create account password modal close part (rollback hidden option)
var cancel_button_2 = document.querySelector(".modal-cancel-button-2");

function rollback_2(){
  document.getElementById("account-username-attribution-input").value = "";
  document.getElementById("account-password-attribution-input").value = "";
  document.getElementById("create-account-modal").classList.add('hidden');
  document.getElementById("modal-backdrop-2").classList.add('hidden');
}

cancel_button_2.addEventListener('click', rollback_2);

// Change password part
function password_change(){
  var identify = 0;
  var user_key = -1;

  for(var j = 0; j < username.length; j++){
    username[j] = username[j].toLowerCase();
    if(document.getElementById("changepwd-username-attribution-input").value == username[j] ){
      identify = 1;
      user_key = j;
    }
  }

  if(document.getElementById("changepwd-attribution-input").value.length < 5){
    identify = 0;
  }

  if(identify == 1){
    password[user_key] = document.getElementById("changepwd-attribution-input").value;
    alert("Your password changed successfully!");
    document.getElementById("create-changepwd-modal").classList.add('hidden');
    document.getElementById("modal-backdrop").classList.add('hidden');
  }

  if(identify == 0){
    alert("Check your username or set new password at least 5 characters!");
    document.getElementById("changepwd-username-attribution-input").value = "";
    document.getElementById("changepwd-attribution-input").value = "";
  }
}

var changepwd_button = document.querySelector(".modal-changepwd-button");
changepwd_button.addEventListener('click', password_change);

// create an account part
function create_account(){
  var creating_bool = 0;

  if(document.getElementById("account-username-attribution-input").value != "" && document.getElementById("account-password-attribution-input").value != "" ){
    creating_bool = 1;
  }
  if(document.getElementById("account-password-attribution-input").value.length < 5){
    creating_bool = 0;
  }

  if(creating_bool == 1){
    alert("Your account is successfully created !");
    username.push(document.getElementById("account-username-attribution-input").value);
    password.push(document.getElementById("account-password-attribution-input").value);
    document.getElementById("create-account-modal").classList.add('hidden');
    document.getElementById("modal-backdrop-2").classList.add('hidden');
    console.log(username, password);
  }

  if(creating_bool == 0){
    alert("check your password length or don't left any blank for creating your account !");
    document.getElementById("account-username-attribution-input").value = "";
    document.getElementById("account-password-attribution-input").value = "";

  }
}

var create_account_button = document.querySelector(".modal-account-button");
create_account_button.addEventListener('click', create_account);</script>
